.box1 {
    order: 1;
    width: 100%;
    height: 150px;
}
.box5 {
    width: 20%;
    order: 2;
    height: auto;
}
.cont {
    width: 60%;
    order: 3;
}
.caja {
    width: 20%;
    order: 4;
}
.box2 {
    order: 5;
    width: 100%;
}